extends layout

block content
    h1= title

    h2 All shifts are listed in Eastern time
    ul
        li Central time: subtract 1 hour
        li Mountain time: subtract 2 hours
        li Pacific time: subtract 3 hours
        li Alaska time: subtract 4 hours
        li Hawaii: subtract 6 hours

    h2 Key
    button.btn.btn-primary Available shift
    |&nbsp;
    button.btn.btn-warning Only 1 more shift available at this time
    |&nbsp;
    button.btn.disabled.btn-danger This shift is no longer available

    .row.days
        each day in days
            .day
                h2= day
                each shift in shifts
                    - id = day + shift
                    - shift = shift + ' - ' + ((shift + 4 > 23) ? shift - 20 : shift + 4)
                    label.btn.btn-primary
                        input(type='radio', name='shift', id='#{id}', value='#{id}')
                        |<span>#{shift}</span>

    .notifier.bg-info(style='display:none')
        p You've selected this shift: <span></span>
        .form-inline
            .form-group
                label.sr-only(for="first_name") First Name
                input.form-control(type="text", id="first_name", placeholder="First Name")
            .form-group
                label.sr-only(for="last_name") Last Name
                input.form-control(type="text", id="last_name", placeholder="Last Name")
                label.sr-only
            .form-group.full
                label.sr-only(for="email") Email
                input.form-control(type="text", id="email", placeholder="Email")
                label.sr-only

        button.btn.btn-primary.submit Submit

    .modal(style='display:none')
        .modal-dialog
            .modal-content
                .modal-header
                    h1.modal-title Confirmed
                .modal-body
                    p We have received your request for:
                    h2 <span></span>
                    p We will be in touch to confirm.

